<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".dessert.activity.DetailDessert"
            android:exported="false" />
        <activity
            android:name=".dessert.activity.MenuDessert"
            android:exported="false" />
        <activity
            android:name=".dessert.activity.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".dessert.activity.MainDessert"
            android:exported="false" />
        <activity
            android:name=".dessert.activity.AddDessert"
            android:exported="false" />
        <activity
            android:name=".Login.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Login.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".drink.activity.DetailDrink"
            android:exported="false" />
        <activity
            android:name=".drink.activity.MenuDrink"
            android:exported="false">
        </activity>
        <activity
            android:name=".Homepage.AdminHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".Homepage.CustomerHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".Login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drink.activity.UpdateDrink"
            android:exported="false" />
        <activity
            android:name=".drink.activity.MainDrink"
            android:exported="false">

        </activity>

            android:exported="true" />
        <activity
            android:name=".drink.activity.AddDrink"
            android:exported="false" />
        <activity
            android:name=".food.activity.DetailFood"
            android:exported="false" />
        <activity
            android:name=".food.activity.MenuFood"
            android:exported="false" />
        <activity
            android:name=".food.activity.UpdateFood"
            android:exported="false" />
        <activity
            android:name=".food.activity.AddFood"
            android:exported="false" />
        <activity
            android:name=".food.activity.MainFood"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>